h1{
    color: rgb(17, 83, 109);
    text-align: center;
}
div{
    text-align: center;
}
    body{
        background-image: url(images.jfif);background-size: cover;
    }
    table{
        
        color:rgb(16, 78, 102);
    }
    .one
    {
        text-align: center;
        
    }
    